header 
  div.title LMS
  div.tool_bar
    a(href='#')  
      span.icon.glyphicon.glyphicon-menu-hamburger
    span.pull-right
      a(href='#')  
        span.icon.glyphicon.glyphicon-envelope
      a(href='#')
        span.icon.glyphicon.glyphicon-bell
      a(href='#')
        span.icon.glyphicon.glyphicon-flag
      a(href='#')
        span.icon.glyphicon.glyphicon-user
      a(href='#')
        span.icon.glyphicon.glyphicon-cog
