header 
  div.header-up
    div.title-name <b>Admin</b>LTE
  div.header-down
    div.header-icons
      a(href='#')  
        span.icon.glyphicon.glyphicon-menu-hamburger
      span.icons
        a(href='#')  
          span.icon.glyphicon.glyphicon-envelope
        a(href='#')
          span.icon.glyphicon.glyphicon-bell
        a(href='#')
          span.icon.glyphicon.glyphicon-flag
        a(href='#')
          span.icon.glyphicon.glyphicon-user
        a(href='#')
          span.icon.glyphicon.glyphicon-cog