body {
  background-color: #d2d6de;

  .login-container {
    padding: 20px;

    .login-title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin: 15px 0px;
    }

    .login-block {
      background-color: #fff;
      padding: 20px;

      .login-info {
        font-size: 13px;
        padding-bottom: 10px;
        text-align: center;
      }

      .input-zone {
        padding: 6px 16px;
        margin-bottom: 15px;
      }

      .border-button {
        border-radius: 0px;
        float: right;
      }

      .sign-block {
        padding: 15px;
        text-align: center;
      }

      .sign-social {
        border-radius: 0px;
      }

      .icon-button:first-child {
        float: left;
        width: 30px;
        line-height: 20px;
        border-right: 1px solid rgba(0,0,0,0.2);
      }

    }

    .links-block {
      padding-top: 10px;
    }

      .restore_links {
        display: block;
      }

  }

}